body{
  font-family: font-family: "Raleway", sans-serif;
}
.myNavbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.groupsLink{
  display: block;
  box-sizing: border-box;
  color: black;
  padding-left: 0px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.groupsLink:hover{
  color: green;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.groupsDetailsLink{
  display: block;
  box-sizing: border-box;
  color: black;
  padding-left: 0px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.groupsDetailsLink:hover{
  padding-left: 5px;
  color: green;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.groupName{
  float : right;
  font-size : xx-large;
  display: block;
  width: 51px;
  height : 51px;
  text-align: center;
  vertical-align: middle;
  border-radius : 2%;
  background : white;
  color: #4caf50;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.groupName:hover{
  color: green;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.75);
}
.createTourLink{
  color: green;
  position: relative;
  top: -16px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.createTourLink:hover{
  padding-left: 10px;
}
.createTour{
  visibility: collapse;
  background: none;
  height : 0%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.createTour > div{
  height: 0px;
  visibility: collapse;
}

.ctOpen{
  visibility: visible;
  background: white;
  margin-bottom: 15px;
  height: 100%;
}

.ctOpen > div {
  visibility: visible;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 15px;

}
.inline-48{
  display: inline-block;
  width: 48%;
  margin-right: 10px;
}
.inline-20{
  display: inline-block;
  width: 18%;
  margin-right: 10px;
}

form{
  display: initial;
}
/*TEAMS*/
div.teamThumbnail{
  color: #43613b;
  display: inline-block;
  height: 120px;
  width: 120px;
  vertical-align: text-top;
  padding: 3px;
  text-align: center;
  font-size: 13px;
}
div.teamThumbnail > a{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  clear: both;
  display: block;
  color: #003300;
  font-weight: bold;
  font-size: 14px;
}
div.teamThumbnail > a:hover{
  color:red;
  text-decoration: none;
}

.team-create-tabs > li{
  width: 25%;
}

.team-create-tabs > li > a{
  box-sizing: border-box;
  border-radius: 0px;
  cursor: context-menu;
  text-align: center;
  margin: 0px;
  margin-bottom: 0px;


}
.team-create-tabs > li > a:hover{
  background: inherit;
  border: none;
  margin-bottom: 0px;
}
.team-create-content{
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  background: white;
}
.px100px{
  width: 100px;
}
.px150px{
  width: 150px;
}
.px250px{
  width: 250px;
}
.px200px{
  width: 200px;
}
.inline{
  display: inline-block;
  margin: 5px 5px;
}
.team-create-content > div > h6{
  margin-bottom: 2px;
}

.my-alert{
  border-radius: 0px;
  margin: 10px 0px;
  padding: 0px;
}
.my-alert > i{
  background: #c72f35;
  padding: 11px 15px;
  color: #f2dede;
  font-size: 17px;
}
.my-alert > span{
  padding: 12px;
}
.icons-modal{
  width: 95%;
  margin: auto;
}
.logo-letter{
  position: absolute;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  top: 0;
  left: 0px;
}
.logo-change{
  background: rgba(86, 154, 71, 0.19);
  margin: 3px;
  border-radius: 2px;
  padding: 4px;
  display: inline-table;
  width: 50px;
}
.logo-change:hover{
  background: rgba(86, 154, 71, 0.8);
  cursor: pointer;
}
.logo-color{
  width: 50px;
  margin: 3px;
  height: 41px;
  border: none;
  border-radius: 2px;
  background: #dfecdc;
}
.logo-color-list{
  background: whitesmoke;
  min-width: 73%;
  border-radius: 0px;
  margin-top: -1px;
  border-color: #5da937;
}
.logo-color-list > li{
  display: inline;
}
.logo-top-initials-icon{
  display: block;
  width: 106px;
  font-family: inherit;
  background: #d7e4d4;
}
.logo-none{
  display: none;
}
.logo-text-s5{
  font-size: 0.4em;
}
.logo-text-s4{
  font-size: 0.5em;
}
.logo-text-s3{
  font-size: 0.7em;
}
.logo-text-s1{
  font-size: 1em;
}
.logo-shadow{
  text-shadow: 0px 0px 2px #7b7b7b;
}
.logo-preview{
  display: inline-block;
  background: #f7fcf5;
  padding: 20px;
}
.margin-tr{
  margin: 5px 5px 0px 0px;
}
